<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="logo do App Alpha" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="cpf" class="fadeIn second" name="cpf" placeholder="CPF" [(ngModel)]="cpf">
      <input type="text" id="senha" class="fadeIn third" name="senha" placeholder="senha" [(ngModel)]="senha">
      <input type="button" class="fadeIn fourth" value="entrar" (click)="entrar()">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="esqueciSenha()">Esqueci a senha</a>
    </div>

  </div>
</div>
