<div class="dashboard-container container">

  <div class="bem-vindo">
    Bem-vindo: <br> CD Bahiense
  </div>

  <div class="header-app d-flex flex-column justify-content-center align-items-center gap-2 mt-5">
    <div class="logo-app">
      <img src="assets/imagens/logo-app-alpha.png" alt="logo app Alpha">
    </div>
    <div class="nome-app">Alpha</div>
  </div>

  <div class="container-funcionalidades d-flex flex-wrap justify-content-center align-items-center gap-2 mt-5">

    <div class="card-funcionalidade funcional" (click)="abrirFuncional()">
      <img src="assets/imagens/logo-funcional.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Funcional</p>
    </div>

    <div class="card-funcionalidade craf" (click)="abrirCRAF()">
      <img src="assets/imagens/logo-craf.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">C.R.A.F.</p>
    </div>

    <div class="card-funcionalidade cia" (click)="abrirCIA()">
      <img src="assets/imagens/logo-cia.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">C.I.A.</p>
    </div>

    <div class="card-funcionalidade bu" (click)="abrirBU()">
      <img src="assets/imagens/logo-bu.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">B.U.</p>
    </div>

    <div class="card-funcionalidade diario-oficial" (click)="abrirDiarioOficial()">
      <img src="assets/imagens/logo-diario-oficial.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Diário Oficial</p>
    </div>

    <div class="card-funcionalidade legislacao" (click)="abrirLegislacao()">
      <img src="assets/imagens/logo-legislacao.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Legislação</p>
    </div>

    <div class="card-funcionalidade detrannet" (click)="abrirDetrannet()">
      <img src="assets/imagens/logo-detrannet.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Detrannet</p>
    </div>

    <div class="card-funcionalidade contracheque" (click)="abrirContracheque()">
      <img src="assets/imagens/logo-contracheque.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Contracheque</p>
    </div>

    <div class="card-funcionalidade calendario-pagamento" (click)="abrirCalendarioPagamento()">
      <img src="assets/imagens/logo-calendario-pagamento.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Calendário Pagamento</p>
    </div>

    <div class="card-funcionalidade agenda" (click)="abrirAgenda()">
      <img src="assets/imagens/logo-agenda.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Agenda</p>
    </div>
  </div>


</div>
