<div class="dashboard-container container">

  <div class="d-flex flex-column justify-content-center align-items-center gap-2 mt-5 header-app">
    <div class="logo-app">
      <img src="assets/imagens/logo-app-alpha.png" alt="logo app Alpha">
    </div>
    <div class="nome-app">Alpha</div>
  </div>

  <div class="container-funcionalidades d-flex flex-wrap justify-content-center align-items-center gap-2 mt-5">
    <div class="card-funcionalidade funcional">
      <img src="assets/imagens/logo-funcional.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Funcional</p>
    </div>

    <div class="card-funcionalidade craf">
      <img src="assets/imagens/logo-craf.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">C.R.A.F.</p>
    </div>

    <div class="card-funcionalidade contracheque" (click)="irParaContracheque()">
      <img src="assets/imagens/logo-contracheque.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Contracheque</p>
    </div>

    <div class="card-funcionalidade cia">
      <img src="assets/imagens/logo-cia.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">C.I.A.</p>
    </div>

    <div class="card-funcionalidade ticket">
      <img src="assets/imagens/logo-ticket.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Ticket</p>
    </div>

    <div class="card-funcionalidade agenda">
      <img src="assets/imagens/logo-agenda.png" alt="" class="logo-funcionalidade">
      <p class="nome-funcionalidade">Agenda</p>
    </div>
  </div>


</div>
